/* ~/.config/rofi/config.rasi */
configuration {
    modi: "drun";
    font: "SFMono Nerd Font 10";
    show-icons: false;
    drun-display-format: "{name}";
}

@theme "/dev/null"
@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    bg: @background;
    fg: @foreground;
    border-color: @color7;
    selected-bg: @foreground;
    selected-fg: @background;
    
    background-color: transparent;
    text-color: @fg;
}

window {
    background-color: @bg;
    border: 1px;
    border-color: @border-color;
    width: 350px;
    height: 400px;
    padding: 10px;
}

mainbox {
    children: [ inputbar, listview ];
}

inputbar {
    background-color: @color0;
    border: 1px;
    border-color: @color8;
    padding: 6px;
    margin: 0px 0px 10px 0px;
    children: [ entry ];
}

entry {
    text-color: @fg;
}

listview {
    lines: 10;
    columns: 1;
    fixed-height: true;
    scrollbar: false;
}

element {
    padding: 6px;
}

element selected {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element-text {
    text-color: inherit;
}
